include ../../mixins/_svg

block variables

doctype html
html(lang="ru").page
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href='./styles/style.min.css')
        script(defer src="./js/script.min.js")
        title #{title}

    body.page__body
        .wrapper
            include ./header/_header
            main.main
                block content
            include ./footer/_footer
